Source: flask-webpackext
Maintainer: Andrii Verbytskyi <andri.verbytskyi@mpp.mpg.de>
Homepage: https://pypi.python.org/pypi/flask-webpackext
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
               python3-semver,
               python3-wheel,
               python3-pip,
               python3-pytest-runner
Standards-Version: 4.1.1
Vcs-Git: https://salsa.debian.org/python-team/packages/flask-webpackext.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/flask-webpackext

Package: python3-flask-webpackext
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A flask-webpackext library that generates audio and image CAPTCHAs.
 .

