Source: flask-webpackext
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Homepage: https://pypi.python.org/pypi/flask-webpackext
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
               python3-semver,
Standards-Version: 4.1.1
Vcs-Git: https://salsa.debian.org/python-team/packages/flask-webpackext.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/flask-webpackext

Package: python3-flask-webpackext
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A flask-webpackext library that generates audio and image CAPTCHAs.
 .

