#!/usr/bin/make -f
export PYBUILD_NAME=indico

%:
	dh $@ --with python3 --buildsystem=pybuild
override_dh_auto_configure:
		echo "OK"

override_dh_auto_clean:
		echo "OK"

override_dh_auto_build:
		rm -rf plugins/base/piwik
		rm -rf plugins/base/themes_legacy
		rm -rf plugins/base/ursh
		rm -rf plugins/base/vc_zoom
		rm -rf plugins/base/cloud_captchas
		rm -rf plugins/base/owncloud
		rm -rf plugins/base/previewer_jupyter
		sed -i 's/iso4217\=\=.*$$/iso4217/g'     plugins/base/*/setup.cfg
		sed -i 's/nbconvert\=\=.*$$/nbconvert/g' plugins/base/*/setup.cfg
		sed -i 's/indico-plugin-piwik.*$$//g'    plugins/base/_meta/setup.cfg
		sed -i 's/indico-plugin-ursh.*$$//g'     plugins/base/_meta/setup.cfg
		sed -i 's/indico-plugin-vc-zoom.*$$//g'  plugins/base/_meta/setup.cfg
		sed -i 's/indico-plugin-cloud-captchas.*$$//g'  plugins/base/_meta/setup.cfg
		sed -i 's/indico-plugin-owncloud.*$$//g'  plugins/base/_meta/setup.cfg
		sed -i 's/indico-plugin-previewer-jupyter.*$$//g'  plugins/base/_meta/setup.cfg
		sed -i 's/\=\=.*$$//g' requirements.*
		sed -i 's/tzdata/#tzdata/g' requirements.*
		sed -i 's/pypdf/#pypdf/g' requirements.*
		sed -i 's/importlib/#importlib/g' requirements.*
		mkdir -p indico/web/client
		npm config delete proxy
		npm config delete http-proxy
		npm config delete https-proxy
		export NODE_OPTIONS="--max-old-space-size=5120" && cd indico/web/client && npm install --legacy-peer-deps && cd ../../../
		export NODE_OPTIONS="--max-old-space-size=5120" && npm install  --legacy-peer-deps
		export NODE_OPTIONS="--max-old-space-size=5120" && export PYTHONPATH=$$(pwd):$$PYTHONPATH && ./bin/maintenance/build-wheel.py indico       --ignore-unclean 
		export NODE_OPTIONS="--max-old-space-size=5120" && export PYTHONPATH=$$(pwd):$$PYTHONPATH && ./bin/maintenance/build-wheel.py all-plugins  --ignore-unclean  plugins/base

override_dh_auto_test:
	echo "disabling dh_auto_test until someone can setup test harness"
