Source: indico
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Homepage: https://pypi.python.org/pypi/indico
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
               python3-werkzeug,
               python3-pytest-runner,
               python3-semver,
               python3-pynpm
Standards-Version: 4.1.1
Vcs-Git: https://salsa.debian.org/python-team/packages/indico.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/indico

Package: python3-indico
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A indico library that generates audio and image CAPTCHAs.
 .

