Source: flask-multipass
Maintainer: Andrii Verbytskyi <andri.verbytskyi@mpp.mpg.de>
Homepage: https://pypi.python.org/pypi/flask-multipass
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
               python3-ldap,
               python3-flaskext.wtf,
               python3-blinker
Standards-Version: 4.1.1
Vcs-Git: https://salsa.debian.org/python-team/packages/flask-multipass.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/flask-multipass

Package: python3-flask-multipass
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Flask-Multipass allows you to provide different authentication systems in your Flask application.
 .

